@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

div.card {
	border: 3px solid black;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: hsl(219, 100%, 86%);
	padding-top: 7px;
	font-family: 'Righteous', cursive;
	font-size: 29px;
	color: rgb(0, 0, 0);
	gap: 9px;
}

div.card:hover {
	cursor: pointer;
	background-color: hsl(220, 100%, 92%);
}

div.card:active {
	background-color: hsl(219, 100%, 86%);
}

div.card img.card-img {
	width: 280px;
	border-radius: 15px;
}
